<launch>
    <node pkg="lane_detection" type="lane_detection_node" name="lane_detection_node">
		<!-- perspective transform param-->
		<param name="left_high" type="int" value="303"/>
		<param name="left_low" type="int" value="151"/>

        <!-- get color by HSV -->
        <param name="red_hue_1_max" type="int" value="10"/>     <!-- red low -->
        <param name="red_hue_1_min" type="int" value="0"/>      <!-- red low -->
        <param name="red_hue_2_max" type="int" value="179"/>    <!-- red high -->
        <param name="red_hue_2_min" type="int" value="159"/>    <!-- red high -->
        <param name="yellow_hue_max" type="int" value="50"/>    <!-- yellow -->
        <param name="yellow_hue_min" type="int" value="20"/>    <!-- yellow -->
        <param name="sat_max" type="int" value="255"/>
        <param name="sat_min" type="int" value="40"/>
        <param name="val_max" type="int" value="255"/>
        <param name="val_min" type="int" value="120"/>

        <!-- show process -->
        <param name="show_source" type="bool" value="false"/>
        <param name="show_sliding_window" type="bool" value="true"/>

        <!-- sliding window -->
        <param name="window_width" type="int" value="200"/>
        <param name="window_num" type="int" value="6"/>
        <param name="target_window_height" type="int" value="2"/>
    </node>
</launch>
